{%- set shared_menu_en = [
        {
            'name':
            'OpenDILab',
            'children': [
                {
                    'name': 'DI-engine',
                    'url': 'https://github.com/opendilab/DI-engine',
                    'description': 'OpenDILab Decision AI Engine'
                },
                {
                    'name': 'DI-star',
                    'url': 'https://github.com/opendilab/DI-star',
                    'description': 'OpenDILab Decision AI in StarCraftII'
                },
                {
                    'name': 'DI-drive',
                    'url': 'https://github.com/opendilab/DI-drive',
                    'description': 'OpenDILab Auto-driving platform'
                },
                {
                    'name': 'GoBigger',
                    'url': 'https://github.com/opendilab/GoBigger',
                    'description': 'OpenDILab Multi-Agent Environment'
                },
                {
                    'name': 'DI-smartcross',
                    'url': 'https://github.com/opendilab/DI-smartcross',
                    'description': 'Decision Intelligence Platform for Traffic Crossing Signal Control'
                },
                {
                    'name': 'DI-treetensor',
                    'url': 'https://github.com/opendilab/DI-treetensor',
                    'description': 'Tree Nested PyTorch Tensor Lib'
                },
                {
                    'name': 'awesome-model-based-RL',
                    'url': 'https://github.com/opendilab/awesome-model-based-RL',
                    'description': 'A curated list of awesome model based RL resources (continually updated)'
                },
            ]
        }
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            'OpenDILab',
            'children': [
                {
                    'name': 'DI-engine',
                    'url': 'https://github.com/opendilab/DI-engine',
                    'description': 'OpenDILab 决策智能框架'
                },
                {
                    'name': 'DI-star',
                    'url': 'https://github.com/opendilab/DI-star',
                    'description': 'OpenDILab 星际争霸 2 智能体'
                },
                {
                    'name': 'DI-drive',
                    'url': 'https://github.com/opendilab/DI-drive',
                    'description': 'OpenDILab 自动驾驶平台'
                },
                {
                    'name': 'GoBigger',
                    'url': 'https://github.com/opendilab/GoBigger',
                    'description': 'OpenDILab 《球球大作战》多智能体环境'
                },
                {
                    'name': 'DI-smartcross',
                    'url': 'https://github.com/opendilab/DI-smartcross',
                    'description': 'OpenDILab 交通信号控制平台'
                },
                {
                    'name': 'DI-treetensor',
                    'url': 'https://github.com/opendilab/DI-treetensor',
                    'description': '树形结构 tensor 库'
                },
                {
                    'name': 'awesome-model-based-RL',
                    'url': 'https://github.com/opendilab/awesome-model-based-RL',
                    'description': 'Model based 强化学习'
                },
            ]
        }
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'zh_CN': shared_menu_cn, 'en': shared_menu_en} -%}
