{%- set shared_menu_en = [
        {
            'name':
            'OpenDILab',
            'children': [
                {
                    'name': 'DI-engine',
                    'url': 'https://github.com/opendilab/DI-engine',
                    'description': 'OpenDILab Decision AI Engine'
                },
                {
                    'name': 'DI-star',
                    'url': 'https://github.com/opendilab/DI-star',
                    'description': 'OpenDILab Decision AI in StarCraftII'
                },
            ]
        }
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            'OpenDILab',
            'children': [
                {
                    'name': 'DI-engine',
                    'url': 'https://github.com/opendilab/DI-engine',
                    'description': 'OpenDILab Decision AI Engine'
                },
                {
                    'name': 'DI-star',
                    'url': 'https://github.com/opendilab/DI-star',
                    'description': 'OpenDILab Decision AI in StarCraftII'
                },
            ]
        }
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
