{%- set shared_menu_en = [
        {
            'name':
            'EarthNets',
            'children': [
                {
                    'name': 'Dataset4EO',
                    'url': 'https://github.com/EarthNets/Dataset4EO',
                    'description': 'Re-organize remote sensing datasets.'
                },
                {
                    'name': 'RSI-Classification',
                    'url': 'https://github.com/EarthNets/RSI-Classification',
                    'description': 'Image/scene classification for RS images.'
                },
                {
                    'name': 'RSI-Segmentation',
                    'url': 'https://github.com/EarthNets/RSI-Segmentation',
                    'description': 'Pixel-wise semantic segmentation for RS images.'
                },
                {
                    'name': 'RSI-Detection',
                    'url': 'https://github.com/EarthNets/RSI-Detection',
                    'description': 'Object detection for RS images.'
                },
                {
                    'name': 'RSI-ChangeDetection',
                    'url': 'https://github.com/EarthNets/RSI-ChangeDetection',
                    'description': 'Change detection for RS images.'
                },
                {
                    'name': 'RSI-SelfSupervised',
                    'url': 'https://github.com/EarthNets/RSI-SelfSupervised',
                    'description': 'Self-supervised learning for RS images.'
                },
            ]
        }
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            'OpenDILab',
            'children': [
                {
                    'name': 'DI-engine',
                    'url': 'https://github.com/opendilab/DI-engine',
                    'description': 'OpenDILab 决策智能框架'
                },
                {
                    'name': 'DI-star',
                    'url': 'https://github.com/opendilab/DI-star',
                    'description': 'OpenDILab 星际争霸 2 智能体'
                },
                {
                    'name': 'DI-drive',
                    'url': 'https://github.com/opendilab/DI-drive',
                    'description': 'OpenDILab 自动驾驶平台'
                },
                {
                    'name': 'GoBigger',
                    'url': 'https://github.com/opendilab/GoBigger',
                    'description': 'OpenDILab 《球球大作战》多智能体环境'
                },
                {
                    'name': 'DI-smartcross',
                    'url': 'https://github.com/opendilab/DI-smartcross',
                    'description': 'OpenDILab 交通信号控制平台'
                },
                {
                    'name': 'DI-treetensor',
                    'url': 'https://github.com/opendilab/DI-treetensor',
                    'description': '树形结构 tensor 库'
                },
                {
                    'name': 'awesome-model-based-RL',
                    'url': 'https://github.com/opendilab/awesome-model-based-RL',
                    'description': 'Model based 强化学习'
                },
            ]
        }
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'zh_CN': shared_menu_cn, 'en': shared_menu_en} -%}
